#myTable{
    width:100%;
    border-collapse:collapse;
    }
    #HeadRow{
    background:#004C2E;
    color:white;
    font-weight:bold;
    }
    #myTable td{
    padding:5px;
    border:1px solid black;
    text-align:left;
    }
    .optionsDiv {
    padding-bottom:10px;
    font-weight:bold;
    }
    #selectField{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 30px;
    width: 200px;
    color:white;
    background-color: #004C2E;
    }
    .odd{
    background:#CCFFEB;
    }
    .even{
    background:#99FFD6;
    }

    /* Style the buttons that are used to open and close the accordion panel */
		.accordion {
		    background-color: #8fb7a5;
		    color: #FFF;
		    cursor: pointer;
		    padding: 18px;
		    width: 100%;
		    text-align: left;
		    border: 1px solid white;
		    outline: none;
		    transition: 0.4s;
		    font: 20px Lato, sans-serif;
		}

		/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
		.active, .accordion:hover {
		    background-color: #527e6a;
		}

		/* Style the accordion panel. Note: hidden by default */
		.panel {
		    padding: 0 18px;
		    background-color: white;
		    display: none;
		    overflow: hidden;
		}

		p{
			font: 16px Lato, sans-serif; 
		}

		.accordion:after {
		    content: '\02795'; /* Unicode character for "plus" sign (+) */
		    font-size: 15px;
		    float: right;
		    margin-left: 5px;
		}

		.active:after {
		    content: "\2796"; /* Unicode character for "minus" sign (-) */
		}
    