@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
    box-sizing: border-box;
  }
  
.services-section{
    
    background-size: cover;
    padding: 60px 0;
  }
  .inner-width{
    background-color: #5a5a5a;;  
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  .section-title{
    text-align: center;
    color: #ddd;
    text-transform: uppercase;
    font-size: 30px;
  }
  .border{
    width: 160px;
    height: 2px;
    background: #82ccdd;
    margin: 40px auto;
  }
  .services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-box{
    max-width: 33.33%;
    padding: 10px;
    text-align: center;
    color: #ddd;
    cursor: pointer;
  }
  
  .service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #82ccdd;
    color: #82ccdd;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
  }
  .service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .service-box:hover .service-icon{
    background: #82ccdd;
    color: #ddd;
  }
  .service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .service-desc a{
    font-size: 14px; 
    color: cornsilk;
    text-decoration: none;
  }
  .service-desc a:hover{
    color:#82ccdd ;
    text-decoration: none;
  }

  @media screen and (max-width:960px) {
    .service-box{
      max-width: 45%;
    }
  }
  
  @media screen and (max-width:768px) {
    .service-box{
      max-width: 50%;
    }
  }
  
  @media screen and (max-width:480px) {
    .service-box{
      max-width: 100%;
    }
  }
.main-container{
    font-family: 'Roboto', sans-serif;
    background-color:#eee;
}
.main-row{
    
    margin: 8%;
    background-color: white;
    box-shadow:0 0 10px 10px rgba(0,0, 0,.09);
    border-radius: 0.5rem;

}
.title{
    color: salmon;
    text-decoration: none;
}
.blog-img > img{
    /* width: 100%;
    height: 100%;*/
    transform: translateY(-30px);
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow:0 0 8px 3px rgba(0,0,0,.3);
}

.blog-date span{
    color :#ee1053;
    padding: 10px;
}
.blog-date  i{
    color :#ee1053;

}

.blog-date  a {
    color :#ee1053;
    text-decoration: none;

}

.ul-cls{
    justify-content: center;
}
 .ul-cls li i{
    cursor: pointer;
} 

.blog-desc{
    font-style: normal;
    font-weight: 400;
}

.blog-desc > p  {

    font-style: normal;
    line-height: 2;

}

.slider{
  max-width: 1100px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(0.9);
}
